.hero-image {
	top: -20rem;
	bottom: -20rem;
	width: 100%;
	background-image: url(lake.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: absolute;
	z-index: 1;
}

.hero h1 {
	position: relative;
	text-align: center;
	color: white;
	padding-top: 20rem;
	z-index: 2;
	margin-bottom: 3rem;
}

.navbar-wrapper {
	height: 3rem;
}

nav {
	position: relative;
}

nav.pinned {
	position: fixed;
	top: 0;
	background-color: #f5f5f5;
	transition: 0.2s ease background-color;
	-webkit-transition: 0.2s ease background-color;

}